.mx-auto.w-full{:class => "md:w-2/3"}
  %h1.font-bold.text-4xl
    =I18n.t('beers.new')
  = render "form", beer: @beer
  = link_to I18n.t('beers.back'), beers_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
